.THIS .slds-select-back{
	border 				: 0px;
	background 			: inherit;
}
.THIS .select{
	border 				: 0px;
	background 			: transparent;
}
.THIS .psaDarkBlue svg.slds-icon{
    width 				: 40px !important;
    height 				: 40px !important;	
	border-radius 		: 4px;
    fill 				: white !important;
    background-color 	: #1e2336 !important;
}